h1 {
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blurb {
    background-color: linen;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../images/liverpoolskyline.jpg');
  background-size: cover;
  color: white;
  height: 500px;
  text-shadow: 0.75px 0.75px 0.75px #000000;
}
img {
    vertical-align: top;
}